[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
pipenv = "*"
pandas = ">1.0"
yapf = "*"
sphinx = "*"
numpydoc = "*"
sphinx-rtd-theme = "*"
# Python >=3.6
python-box = "*"
