[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
# Python >=3.6
dash = "*"
matplotlib = "*"
numpydoc = "*"
pandas = ">1.0"
pipenv = "*"
plotly = "*"
pytest = "*"
python-box = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
yapf = "*"
